<form style="padding-left: 10px; color: black;">
    <label>
      <b style="color: white;">Title:</b>
    </label>
    <br>
    <input
      type='text'
      placeholder='Untitled Board'
      autofocus='true'>
    <button class='btn btn-success'>Create</button>
</form>
