.lists-window {
  position: absolute;
  bottom: 0;
  top: 100px;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow-x: auto;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  overflow-y: hidden;
  > div * {
    white-space: normal;
  }
  &::-webkit-scrollbar {
    border-radius: 12px;
    height: 12px;
    width: 12px;
  }

  &::-webkit-scrollbar-button {
    display: block;
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track-piece {
    background: rgba(0,0,0,.15);
    border-radius: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.4);
    border-radius: 12px;
  }
}

#lists, #list-form, .list-display {
  display: inline-block;
  vertical-align: top;
}

#list-form {
  width: 260px;
}

#lists {
  height: 100%;
}

.list-display {
  background-color: black;
  width: 260px;
  margin: 0 5px;
  border-radius: 3px;
  max-height: 100%;
  padding: 4px 3px 3px;
  border: 1.5px solid #18CAE6;
}

.list-edit {
  color: gray;
  cursor: pointer;
  font-size: 10px;
}

.list-delete {
  color: gray;
  cursor: pointer;
  font-size: 10px;
}

.list-cards {
  padding: 4px 4px 1px;
  overflow-x: hidden;
  overflow-y: auto;
}

.list-cards::-webkit-scrollbar {
  border-radius: 10px;
  width: 8px;
}

.list-cards::-webkit-scrollbar-track {
  background-color: #d0d0d0;
  border-radius: 10px;
}

.list-cards::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
}

.list-heading {
  cursor: grab;
  cursor: -webkit-grab;
  font-size: 15px;
  padding: 3px 26px 2px 6px;
  min-height: 19px;
  h4 {
    color: #E6FFFF;
    line-height: 18px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    min-height: 19px;
  }
}
